<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="datamanager-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `datamanager-element`
     * esto es para interacturar con un json
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class DatamanagerElement extends Polymer.Element {
      static get is() { return 'datamanager-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'datamanager-element'
          }
        };
      }
    }

    window.customElements.define(DatamanagerElement.is, DatamanagerElement);
  </script>
</dom-module>
