<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-spinner/paper-spinner.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">

<dom-module id="datamanager-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

  
    
    <!-- <template is="dom-if" if={{cargando}}>
      <paper-spinner active="{{cargando}}"  class="thick"></paper-spinner>
      <h2>Cargando...</h2>
      
    </template>
    <ul>
      <template is="dom-repeat" items="{{handleResponse}}" >
        
      </template>
    </ul>


    <h2>{{handleResponse.name}}</h2> -->
    <!-- 
    <iron-ajax
    auto
    url="https://jsonplaceholder.typicode.com/users/1"
    handle-as="json"
    last-response="{{handleResponse}}"
    loading="{{cargando}}"
    > -->
    <iron-ajax
    auto
    url="https://jsonplaceholder.typicode.com/users/"
    handle-as="json"
    last-response="{{handleResponse}}"
    >
      
    </iron-ajax>





  </template>

  <script>
    /**
     * `datamanager-element`
     * esto es para interacturar con un json
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class DatamanagerElement extends Polymer.Element {
      static get is() { return 'datamanager-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'datamanager-element'
          },
          handleResponse:{
            type:Object,
            value: ()=>{return {}},
            observer: '_success'
          },
          cargando:{
            type: Boolean,
            value: true
          }
          // cargando_info:{
          //   type:Boolean,
          //   value:false
          // }
        };
      }
      _success(e){
        console.log(this.handleResponse)
        // console.log(e)
        // console.log("Exito (y)")
        // this.cargando = false

        this.dispatchEvent(
          new CustomEvent('data-servicio',{
            detail:this.handleResponse}
          )
        )






      }
    }

    window.customElements.define(DatamanagerElement.is, DatamanagerElement);
  </script>
</dom-module>
